.encabezado {
    position: fixed;
    font-family: Amasis MT Pro Black;
    font-size: 26px;
    top: 0;
    left: 0;
    height: 12.05%;
    background-color: black;
    width: 100%;
    color: white;
}

.logoBarber {
    position: absolute;
    top: 0;
    left: 24%;
    padding-top: 2px;
}

.nav {
    float: right;
}

.nav-list {
    list-style: none;
    margin-left: 60px;
    float: left;
    padding-right: 50px;
    margin: -12px;
}

.item-li {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

.item-li:hover {
    background-color: darkcyan;
    transition: 0.5s;
}

#contenido {
    position: fixed;
    font-family: times new roman;
    font-size: 45px;
    top: 12.2%;
    left: 0%;
    height: 65%;
    background-color: #081836;
    width: 100%;
    color: white;
    text-align: left;
    padding-left: 5px;
    overflow: auto;
}

.piePag {
    position: fixed;
    bottom: 0;
    left: 0%;
    height: 23%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    font-size: 21px;
    padding-left: 10px;
}

.direccionCentro {
    text-align: center;
    color: white;
    font-size: 21px;
    margin-top: 1%;
}

.ubicacion {
    position: fixed;
    bottom: 0;
    left: 71%;
    height: 23%;
    width: 30%;
    background-color: black;
    color: white;
    text-align: left;
    font-size: 21px;
    padding-left: 10px;
    font-family: times new roman;
}

.botonUbicacion {
    font-size: 21px;
    text-decoration: none;
}
