.encabezado {
    position: fixed;
    font-family: Amasis MT Pro Black;
    font-size: 26px;
    top: 0;
    left: 0;
    height: 12.05%;
    background-color: black;
    width: 100%;
    color: white;
}

body {
    font-family: sans-serif;
    padding: 45px 20px 0;
    min-height: 100vh;
}

.logoBarber {
    position: absolute;
    top: 0;
    left: 24%;
    padding-top: 2px;
}

.nav {
    float: right;
}

.nav-list {
    list-style: none;
    margin-left: 60px;
    float: left;
    padding-right: 50px;
    margin: -12px;
}

.item-li {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

.item-li:hover {
    background-color: darkcyan;
    transition: 0.5s;
}

#barraLateral {
    position: fixed;
    top: 12.1%;
    left: 0%;
    height: 70%;
    width: 24.3%;
    background-color: #081836;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Congenial Black;
    border: black 5px solid;
}

.headers {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: arial black;
    text-align: center;
}

#contenido {
    position: fixed;
    top: 12%;
    left: 25%;
    height: 70%;
    width: 75%;
    color: black;
    overflow: auto;
    background-color: #081836;
    border: black 5px solid;
}

.piePag {
    position: fixed;
    bottom: 0;
    left: 0%;
    height: 16.7%;
    width: 100%;
    background-color: #081836;
    color: white;
    text-align: left;
    font-size: 21px;
    padding-left: 10px;
}

.direccion {
    display: inline;
}

.parrafo{
    font-family: arial black;
    text-align: left;
    font-size: 18px;
}

.boton1 {
    font-size: 25px;
    background-color: darkgoldenrod;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.boton1:hover {
    background-color: white;
    transition: 0.5s;
}

.boton2 {
    font-size: 25px;
    background-color: darkgoldenrod;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none
}

.boton2:hover {
    background-color: white;
    transition: 0.5s;
}